.carousel {
  border: 1px solid rgb(27, 27, 27);
  max-height: 50vh;
  overflow: hidden;
}

.carousel li {
  background: #f3f2f3 !important;
}

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.imageWrapper {
  position: relative;
  transition: transform 0.2s;
}

.imageWrapper:hover {
  transform: scale(1.05);
}
