.carousel {
  border: 1px solid rgb(27, 27, 27);
  max-height: 50vh;
  overflow: hidden;
}

.expandedCarousel {
  max-height: var(--maxvh-navless);
}

.carousel li {
  background: #f3f2f3 !important;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.2s;
  pointer-events: all !important;
}

.image[x-clicked="false"] {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.image[x-clicked="true"] {
  object-fit: contain;
  height: 100%;
}

.imageWrapper {
  transition: transform 0.2s, height 0.3s;
  cursor: pointer;
  position: relative;
}

.imageWrapper[x-clicked="false"] {
}

.imageWrapper[x-clicked="false"]:hover {
  transform: scale(1.05);
}
