.label {
  cursor: pointer;
}

.container {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.5em;
}

.hiddenCheckbox {
  border: 0;
  clip: rect(0 0 0 0);
  clippath: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.styledCheckbox {
  display: inline-block;
  border-radius: 3px;
  transition: all 150ms;
  background: transparent;
  border: 1px solid var(--form-border-color);
}

.icon {
  fill: none;
  stroke: var(--main-accent-alt-color);
  stroke-width: 0.2em;
}

.icon[x-checked="true"] {
  visibility: visible;
}

.icon[x-checked="false"] {
  visibility: hidden;
}
