.card {
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.title {
  font-size: 1.3em;
}

.section {
  margin-top: 12px;
  font-size: 1.1em;
}

.descriptionArea {
  height: 240px;
}
