.content {
  min-height: 40px;
  max-height: 640px;
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  margin: 10px 0;
}

.title {
  font-family: var(--title-font-family);
  font-size: 1.5em;
  margin-bottom: 12px;
  text-align: left;
}

.flatName {
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--title-font-family);
}

.moreButton {
  margin: 0;
  margin-left: 8px;
  width: auto;
}

/* Invoice list item */

.item {
  position: relative;
  padding: 12px 0;
  text-align: left;
}

.item::after {
  position: absolute;
  content: " ";
  width: 75%;
  border-bottom: 1px solid #dadce0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Add top separator for first item in the list */
.item:first-of-type::before {
  position: absolute;
  content: " ";
  width: 75%;
  border-bottom: 1px solid #dadce0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.itemTitle {
  font-family: var(--title-font-family);
  font-size: 1.1em;
}

.itemData {
  font-family: var(--title-font-family);
  font-size: 0.9em;
}

.itemStatus {
  font-family: var(--title-font-family);
  font-size: 1em;
}
