.modalWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-y: auto;
}

.modal {
  pointer-events: all;
  width: var(--main-width);
  max-width: var(--main-max-width);
  height: fit-content;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  background: white;
  align-self: center;
  padding: 20px;
  border-radius: 4px;
  margin: auto;
  text-align: left;
  box-shadow: var(--modal-shadow);
}

.title {
  font-family: var(--title-font-family);
  font-size: 1.6em;
}

.subTitle,
.sectionTitle {
  font-family: var(--title-font-family);
  text-align: left;
  margin: 4px 0;
  font-size: 1.1em;
}

.subTitle {
  margin-bottom: 24px;
}

.description {
  font-family: var(--text-font-family);
  margin-bottom: 12px;
}

.errors {
  font-size: 1.1em;
  text-align: center;
}

.errors > span {
  padding: 0;
}

.fixButton {
  background-color: var(--green-color);
  flex-grow: 1;
}

.fixButton:hover {
  box-shadow: 0 1px 2px 0 rgba(var(--green-color-rgb), 0.5), 0 1px 3px 1px rgba(var(--green-color-rgb), 0.4);
}

.fixButton,
.deleteButton {
  margin-right: 8px;
}

.fixButton,
.deleteButton,
.closeButton {
  width: 100%;
}

.preview {
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
}

.preview > div {
  margin-right: 8px;
}

.status,
.price {
  font-family: var(--text-font-family);
  font-size: 1.1em;
}

.price {
  margin-bottom: 12px;
}

.conversation {
  margin-top: 24px;
}
