.dropzoneContainer {
  font-family: var(--text-font-family);
  margin-top: 12px;
  /* padding: 10px; */
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--form-border-color);
  border-radius: 0;
  /* border: 1px solid dotted var(--form-border-color); */
}

.dropzone {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--form-border-color);
  border-radius: 0;
  border-style: dashed;
  /* padding: 10px; */
  cursor: pointer;
  transition: border-color 0.2s;
  height: fit-content;
  text-align: center;
}

.dropzone > p {
  margin: 2px 4px;
}

.dropzone:hover {
  border-color: var(--form-border-color-hover);
}

.thumbsContainer {
  justify-content: flex-start;
}

.thumb {
  position: relative;
  margin: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  transition: opacity 0.2s;
  white-space: nowrap;
  font-size: 0.9em;
  font-family: var(--title-font-family);
}


.thumb::after {
  content: " ";
  width: 15px;
  border-bottom: 4px solid var(--red-color);
  position: absolute;
  top: 7px;
  right: 5px;
  transform: rotate(45deg);
}

.thumb::before {
  content: " ";
  width: 15px;
  border-bottom: 4px solid var(--red-color);
  position: absolute;
  top: 7px;
  right: 5px;
  transform: rotate(135deg);
  z-index: 1;
}

.thumb:hover {
  cursor: pointer;
  opacity: 0.5;
}
