.flat {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-width: 640px;
  width: 100%;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.text {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.title {
  font-size: 1.2em;
}

.address {
  font-size: 0.9em;
}

.openButton {
  font-size: 1em;
  padding: 8px 14px;
  align-self: center;
  margin: 0 0 0 12px;
  color: var(--main-accent-alt-color);
  background-color: var(--main-bg-color);
  /* border: 2px solid var(--main-accent-alt-color); */
  transition: all 0.3s;

  border-radius: 0;
  border: 2px solid rgba(var(--main-accent-alt-color-rgb), 0.6);
}

.openButton:hover {
  background-color: rgba(var(--main-accent-alt-color-rgb), 0.1);
  box-shadow: none;
}

.image {
  max-height: 150px;
  object-fit: contain;
  /* display: flex; */
  /* flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1; */
}

.image img {
  /* height: auto; */
  max-height: 150px;
  height: 100%;
  width: auto;
  object-fit: contain;
  /* width: 100%; */
}
