/* Carousel */

.imageWrapper {
  height: 50vh;
}

.imageWrapper[x-clicked="true"] {
  height: calc(100vh - 80px);
}

/* Details */

.detailsContainer {
  max-width: 600px;
  width: calc(100% - 40px);
  margin: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: flex-start;
  text-align: left;
  flex-grow: 1;
}

/* Flat title section */

.titleInfo {
}

.flatTitle {
  font-family: var(--title-font-family);
  font-size: 2.5em;
}

.subTitle {
  font-size: 1em;
  margin-bottom: 32px;
}

/* Top flat info section */

.flatCharacteristics,
.ownerInfo {
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-left: 12px;
  flex-wrap: wrap;
}

.flatCharacteristics > span:not(:last-of-type),
.ownerInfo > span:not(:last-of-type),
.features > span:not(:last-of-type) {
  margin-right: 24px;
}

.flatDescription {
  white-space: pre-wrap;
}

/* Sub texts */

.flatCharacteristics,
.subTitle,
.flatDescription,
.tenantRequirements,
.features {
  color: var(--text-color);
}

/* Titles */

.sectionTitle {
  font-size: 0.9em;
  font-family: var(--title-font-family);
  font-weight: 400;
  margin-bottom: 8px;
  font-weight: 500;
}

.sectionEnd {
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

/* Features */

.features {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 12px;
}

.feature {
  font-size: 0.9em;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 2px 6px;
}

/* Tenant requirements */

.minimumRentDays {
  margin-top: 4px;
}

/* Rent panel */

@media (max-width: 950px) {
  .panel {
    max-width: 560px;
    width: calc(100% - 40px);
    /* display: none !important; */
  }
  .contentWrapper {
    flex-wrap: wrap;
  }
}

@media (min-width: 950px) {
  .panel {
    margin-top: 24px;
    width: 220px;
    height: 300px;
    margin-left: 16px;
  }
  .contentWrapper {
    flex-wrap: wrap;
  }
}

.panel {
  margin-bottom: 24px;
  flex-grow: 0;
  text-align: left;
  padding: 20px;
  border: 1px solid #e4e4e4;
  justify-content: space-around;
}

.isRented {
  font-size: 1em;
}

.rentPrice {
}

.leftHand {
  font-size: 0.9em;
}

.rightHand {
  white-space: nowrap;
  font-size: 1em;
}

/*  */

.contentWrapper {
  padding-top: 24px;
  justify-content: center;
  margin: 12px;
}

/* modal */

.modalWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  pointer-events: all;
  width: var(--main-width);
  max-width: var(--main-max-width);
  height: 500px;
  background: white;
  align-self: center;
}

.editLink {
  color: var(--text-color);
  font-family: var(--title-font-family);
}

.datepickerWrapper {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoInPicker {
  width: 100%;
  text-align: center;
  padding: 0px 4px 12px 4px;
}
