.content {
  min-height: 120px;
  max-height: 640px;
  max-width: 500px;
  width: calc(100% - 20px);
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 26px;
  margin-top: 6px;
  padding: 6px 10px 24px;
  /* border-left: 1px solid #dadce0;
  border-right: 1px solid #dadce0; */
}


.title {
  font-family: var(--title-font-family);
  font-size: 1.5em;
  margin-bottom: 12px;
}

.flatName {
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--title-font-family);
}

.agreement {
  position: relative;
  font-family: var(--text-font-family);
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.agreement::after {
  content: " ";
  width: 75%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: #dadce0;
}

.period {
  /* font-size: 0.9em; */
}

.agreementContent {
  /* flex-grow: 2; */
}

.moreButton {
  width: fit-content;
  margin: 0;
}

.moreLink {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.separator {
  width: 60%;
  justify-self: center;
  content: " ";
  height: 1px;
  border-bottom: 1px solid #dadce0;
}
