.App {
  text-align: center;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.content-wrapper {
  width: 100%;
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrapper > div {
  /* width: 100%; */
  /*makes all children even but breaks proper sizing*/
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
