html {
  overflow-y: scroll;
}

/* Date Picker Custom Styles */

.DateRangePicker *,
.SingleDatePicker *,
.DayPickerRangeController * {
  box-sizing: border-box;
}

.DateInput_input__focused {
  border-bottom: 2px solid var(--main-accent-alt-color);
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: var(--main-accent-alt-color);
  border: 1px double var(--main-accent-alt-muted-color);
}

.CalendarDay__selected_span {
  background: var(--main-accent-alt-muted-color);
  border: 1px double var(--main-accent-alt-muted-color);
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: var(--main-accent-alt-color);
  border: 1px double var(--main-accent-alt-muted-color);
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: var(--main-accent-alt-muted-color);
  border: 1px double var(--main-accent-alt-muted-color);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  /* background-color: #f5f5f5; */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


/* Carousel arrows */

.carousel .control-prev.control-arrow:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 15px;
}

.carousel .control-next.control-arrow:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 15px;
}

.carousel.carousel-slider .control-arrow:before {
  display: inline-block;
  border-top: none;
  border-right: 8px solid #fff;
  border-bottom: 8px solid #fff;
  border-radius: 4px;
  border-left: none;
  padding: 14px;
  content: '';
}
