:root {
  /* --main-bg-color: #f9fbfc; */
  --main-bg-color: #ffffff;
  /* --main-bg-color-rgb: 249, 251, 252; */
  --main-bg-color-rgb: 255, 255, 255;
  --main-title-color: #373f51;
  /* --main-title-color: #75031E; */
  /* --main-title-color: #F45B69; */
  --main-title-alt-color: #e1755e;
  --error-color: #eb241e;
  /* --main-accent-color: #203961;
  --main-accent-alt-color: #004c75;
  --main-accent-alt-color-rgb: 0, 76, 117;
  --main-accent-alt-muted-color: #5e8193; */
  --main-accent-color: #203961;
  --main-accent-alt-color: #ff5a5f;
  --main-accent-alt-color-rgb: 255, 90, 95;
  --main-accent-alt-muted-color: #5e8193;
  /* --main-accent-alt-color: #456990; */
  /* --main-font-color: rgba(0, 0, 0, 0.9); */
  --main-font-color: #1b1b1e;
  --main-font-blurred-color: rgba(27, 27, 30, 0.5);


  --title-font-family: "Roboto";
  --text-font-family: "Open Sans";


  --text-color: #484848;

  --navbar-text-color: #484848;
  --navbar-border-color: #767676;

  --split-color: #dadce0;

  --main-max-width: 600px;
  --main-width: calc(100% - 40px);

  --form-border-color: #dadce0;
  --form-border-color-hover: #bcc0c7;
  --form-border-color-active: #767676;

  --maxvh-navless: calc(100vh - 82px);
}
