:root {
  /* --main-bg-color: #f9fbfc; */
  --main-bg-color: #ffffff;
  /* --main-bg-color-rgb: 249, 251, 252; */
  --main-bg-color-rgb: 255, 255, 255;
  --main-title-color: #373f51;
  /* --main-title-color: #75031E; */
  /* --main-title-color: #F45B69; */
  --main-title-alt-color: #e1755e;
  --error-color: #eb241e;
  /* --main-accent-color: #203961;
  --main-accent-alt-color: #004c75;
  --main-accent-alt-color-rgb: 0, 76, 117;
  --main-accent-alt-muted-color: #5e8193; */
  --main-accent-color: #203961;

  --main-accent-alt-color: #ff5a5f;
  --main-accent-alt-color-rgb: 255, 90, 95;

  --main-accent-alt-muted-color: #ff666ba1;
  /* --main-accent-alt-color: #456990; */
  /* --main-font-color: rgba(0, 0, 0, 0.9); */

  --accent-1-color: #445965;
  --accent-2-color: #ba4a61;

  --main-font-color: #1b1b1e;
  --main-font-blurred-color: rgba(27, 27, 30, 0.5);

  --title-font-family: "Roboto";
  --text-font-family: "Open Sans";

  --text-color-white: #fafafa;

  --text-color: #484848;
  --text-faded-color: #767676;

  --navbar-text-color: #484848;
  --navbar-border-color: #767676;

  --split-color: #dadce0;

  --main-max-width: 600px;
  --wide-max-width: 1200px;
  --main-width: calc(100% - 40px);

  --form-border-color: #dadce0;
  --form-border-color-hover: #bcc0c7;
  --form-border-color-active: #767676;

  --maxvh-navless: calc(100vh - 82px);

  --green-color: #4cd964;
  --green-color-rgb: 76, 217, 100;
  --red-color: #ff3b30;

  --link-color: #ff5a5f;

  /* --message-tooltip: #579290; */
  --message-tooltip: #d4a398;
}
